<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="exp-sat-datashare-prod-api">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] [processor: %X{processorPath}; event: %X{correlationId}] %c: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
        </AsyncRoot>
        <AsyncLogger name="org.mule.service.http" level="WARN"/>
        <AsyncLogger name="org.mule.extension.http" level="INFO"/>
        <AsyncLogger name="com.solutech" level="INFO"/>
    </Loggers>
</Configuration>
